@model Models.Framework.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">

                        @using (Html.BeginForm("Create", "Project", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.Name)</label>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "danger"})
                                </div>

                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.Alias)</label>
                                    @Html.TextBoxFor(model => model.Alias, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Alias, null, new { @class = "danger" })
                                </div>

                                <div class="form-group">
                                    <label>@Html.LabelFor(model => model.ParentID)</label>

                                    @Html.TextBoxFor(model => model.ParentID, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ParentID, null, new { @class = "danger" })
                                </div>

                                <div class="form-group">
                                    <label> @Html.LabelFor(model => model.Order) </label>

                                    @Html.TextBoxFor(model => model.Order, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Order, null, new { @class = "danger" })
                                </div>

                                <div class="form-group">
                                    <label> @Html.LabelFor(model => model.Status) </label>

                                        @Html.DropDownListFor(model => model.Status, new List<SelectListItem>() { 
                                            new SelectListItem(){Selected =  true, Text = "Kích hoạt", Value = "1"},
                                            new SelectListItem(){Selected =  true, Text = "Khóa", Value ="0"},
                                        }, new {@class = "form-control" })
            
                                        @Html.ValidationMessageFor(model => model.Status)
                                    </div>

                                    <p>
                                        <input type="submit" value="Edit"  />
                                    </p>
                                    }
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

